html,
body,
ul,
p,
h2,
h3 {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
ul {
  list-style: none;
}
img {
  vertical-align: top;
  border: none;
}
.m-animation {
  padding: 30px;
}
.m-animation li {
  margin-bottom: 30px;
}
.m-animation h2 {
  font-size: 20px;
  line-height: 50px;
}
.box {
  width: 100px;
  height: 100px;
}
.box1 {
  background-color: #f00;
}
.box1:hover {
  animation: move 2s ease-in;
}
@keyframes move {
  100% {
    transform: translateX(400px);
  }
}
.box2 {
  background-color: orange;
  border-radius: 50%;
  animation: jump 2s ease-in infinite;
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(200px);
  }
  50% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(0);
  }
}
