html,
body,
ul,
p,
h2,
h3 {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  background: #000;
}
ul {
  list-style: none;
}
img {
  vertical-align: top;
  border: none;
}
.m-animation {
  padding: 30px;
}
.m-animation li {
  margin-bottom: 30px;
}
.m-animation h2 {
  font-size: 20px;
  line-height: 50px;
}
.box {
  width: 720px;
  height: 131px;
}
.box1 {
  background: url(../img/yellow-h5.png) no-repeat;
  animation: move 5s steps(50) infinite;
}
@keyframes move {
  100% {
    background-position-x: -8000px;
  }
}
