html,body,ul,p,h2,h3{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
body{
    background:#000
}
ul{
    list-style: none;
}
img{
    vertical-align: top;
    border:none;
}
.m-animation{
    padding:30px;
    li{
        margin-bottom: 30px;
    }
    h2{
        font-size: 20px;
        line-height: 50px;
    }
}
.box{
    width: 720px;
    // height: 720px;
    // height: 580px;
    // width:160px;
    height: 131px;

}
.box1{
    // width: 718px;
    // height: 720px;
    // background-color: #f00;
    // background:url(../img/bg-huang.png) no-repeat;
    // background:url(../img/bg-start.png) no-repeat;
    // animation: move 1s steps(2) infinite;

    // background:url(../img/bg-start2-bak.png) no-repeat;
    // animation: move 1s steps(10) infinite;
    // background:url(../img/ccccc2.png) no-repeat;

    // background:url(../img/yellow.png) no-repeat;
    background:url(../img/yellow-h5.png) no-repeat;

    animation: move 5s steps(50) infinite;


}
@keyframes move{
    100%{
        // background-position-y:-7200px
        // background-position-x:-35400px
        // background-position-y:-14500px
        background-position-x:-8000px

    }
}